* {
    font: "Montserrat 12";

    background-color: transparent;
    text-color: #FFFFFF;

    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

/* ───────── Ventana ───────── */

window {
    location: center;
    width: 46%;
    border-radius: 22px;

    background-color: #1A0B2ECC;
    border: 1px;
    border-color: #BD93F9;
}

/* ───────── Contenedor ───────── */

mainbox {
    padding: 14px;
}

/* ───────── Input ───────── */

inputbar {
    background-color: #120521;
    border-color: #BD93F9;

    border: 1px;
    border-radius: 16px;

    padding: 8px 14px;
    spacing: 8px;
}

prompt {
    text-color: #6272A4;
}

entry {
    text-color: #FFFFFF;
    placeholder: "Buscar…";
    placeholder-color: #6272A4;
}

/* ───────── Mensajes ───────── */

message {
    margin: 10px 0 0;
    border-radius: 14px;
    border: 1px;
    border-color: #3C096C;
    background-color: #120521;
}

textbox {
    padding: 8px 20px;
}

/* ───────── Lista ───────── */

listview {
    background-color: transparent;

    margin: 10px 0 0;
    lines: 11;
    columns: 1;

    fixed-height: true;
}

/* ───────── Items ───────── */

element {
    padding: 8px 14px;
    spacing: 8px;
    border-radius: 14px;
}

/* texto SIEMPRE blanco */
element normal normal,
element normal active,
element selected normal,
element selected active {
    text-color: #FFFFFF;
}

/* selección solo por fondo */
element selected normal,
element selected active {
    background-color: #3C096C;
}

/* ───────── Iconos ───────── */

element-icon {
    size: 1em;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
}
